name: test
on:
  push:
    branches:
    - main
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go-version: [1.18.x]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Setup go-${{ matrix.go-version }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
    - run: go version
    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Restore Go modules cache
      uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: go-${{ runner.os }}-${{ hashFiles('go.mod') }}
        restore-keys: |
          go-${{ runner.os }}-
    - name: Check codestyle
      run: gofmt -l .
    - name: Run linter
      run: go vet ./...
    - name: Run staticheck
      run: staticcheck ./...
    - name: Verify dependencies
      run: go mod verify
    - name: Download dependencies
      run: go mod download
    - name: Run tests
      run: go test -vet off -v ./...
   
